@import './home.scss';
.commissionheader{
  margin-top: 60px;
}
.commissioncontainer{
  background-color: black;
  border-radius: 5px;
  color: white;
  padding: 10px;
}
.grid {
  height: auto !important;
  border: 1px solid black;
  border-radius: 10px;
  background-color: $redx;
  font-family: 'Oswald', sans-serif;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: hidden;
  // display: flex;
}
.commissionstyle{
  background-color: black;
  border-radius: 5px;
  color: white;
  padding: 10px;
}
.salesforweek{
  background-color: #E5E5E0;
}
.salewell{
  margin-top: 10px;

}
.salesfilter{
  margin-top: 10px;
}
