@import './home.scss';
#modal-form{
  padding: 20px;
  font-weight: bold;
  color: black;
}
#formheading{
  text-align: left;
  background-color: $redx;
  color: white;
  height: 50px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  padding: 8px;
  padding-left: 15px;
  font-size: 24px;
  // font-weight: bold;
}

.longform{
  width: 100%;
  margin-bottom: 10px;
}

.salesub{
  margin-bottom: 20px;
}
