@import './home.scss';
#modal-form{
  padding: 20px;
  font-weight: bold;
  color: black;
}
#formheading{
  text-align: left;
  // font-weight: bold;
}

.longform{
  width: 100%;
  margin-bottom: 10px;
}

.salesub{
  margin-bottom: 20px;
}
