<h1>This is the admin page</h1>

{{admintest}}
<br>
Current quota: ${{quota.quota_amount}}

<br>

Monthly Team Total: ${{monthlyTeamTotal}}
<div>
  <button ng-click="showQuotaTab = !showQuotaTab">Set Quota</button>
</div>
<div class"quota-submit" ng-show="showQuotaTab" >
  <label for='sales'>Enter New Monthly Quota Mark</label>
    <input ng-model="quotaModel.quota_amount"></input>
    <div class="form-group">
      <button class="btn btn-primary" ng-disabled="!quotaModel.quota_amount" ng-click="submitQuota() ; showQuotaTab = !showQuotaTab">Submit New Quota</button>
    </div>
    <pre>{{quotaModel | json}}</pre>
</div>


<div ng-repeat="user in users" class="container">
  Sales Rep: {{user.name}}
  <div ng-repeat="array in salesByReps | filter: {id : user.user_id}">
    <div class="container">
      <progress value="{{array.total}}" max="{{quota.quota_amount}}">0%</progress>

    <!-- <div class="progress">
      <div class="progress-bar" role="progressbar"
      value="0" max="{{quota.quota_amount}}" style="width:300px"> -->
        <!-- {{quotaPercent}}% -->
        <br>
        <p>${{array.total}} / ${{quota.quota_amount}}</p>
      </div>
    </div>
    </div>
</div>
</div>
