<h1>Here is the commissions page!</h1>
{{testing}}
<br>
{{user.name}}

<div ng-repeat="sale in sales | filter: salesFilter | orderBy: '-date_sold'">
  {{sale.customer_name}} {{sale.amount}} {{sale.date_sold | date:'short'}}
</div>
Setup Fee Revenue = {{setupFeeTotal}}
<br>
Setup Fee Commissions = {{setupFeeCommission}}
<br>
Total Revenue = {{totalRevenue}}
<br>
Revenue Commission = {{revenueCommission}}
<br>
Total Commissions = {{totalCommissions}}

<div class="wrapper">
  <div class="grid container" ng-grid="gridOpts"></div>
</div>
