<div class="">
  <h1>Here are the past daily focuses for the month.</h1>

</div>

  <div class="grid container" ng-grid="gridOpts"></div>
  <div>
    <button type="button" id="salebutton" class="btn btn-circle btn-success btn-lg pull-right">
    <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
    </button>
  </div>
<!-- <div dailyfocus-directive ng-repeat="focus in focuses | filter: focusFilter | orderBy: '-focus_date'" >
  <h2>Focus:</h2>
  "{{focus.focus}}" set on {{focus.focus_date | date:'short'}}
</div> -->
