<h1>THIS IS THE QUOTA PAGE!</h1>

Total Sales: {{totalSales}}
<br>
Dollar Per Sale For Month: {{monthlyDollarPerSale}}
<br>
Total Expireds: {{expiredsTotal}}
<br>
Total FSBOs: {{fsbosTotal}}
<br>
Total PFCs: {{pfcsTotal}}
<br>
Total FRBOs: {{frbosTotal}}
<br>
Total Storm: {{stormTotal}}
<br>
Total Onyx: {{onyxTotal}}
<br>
Total Geo Leads: {{geoTotal}}
<br>
Total Storm-Multi: {{multilineTotal}}

<div class="container">
<div class="progress">
  <div class="progress-bar" role="progressbar"
  aria-valuemin="0" aria-valuemax="{{quota.quota_amount}}" style="width:{{quotaPercent}}%">
    {{quotaPercent}}%
  </div>
</div>
${{monthlyTotal}} / ${{quota.quota_amount}}
</div>
