
<div class="modal fade" id="salesform" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">

                       <div class="modal-dialog " role="document">
                           <div class="modal-content">
                               <form id="modal-form">
                                   <div id="formheading">
                                       <p>Sales Form
                                       </p>
                                   </div>


                                   <div id="customername">
                                     <label for='sales'>Customer Name</label>
                                       <input type="text" ng-model="saleModel.name">
                                   </div>
                                   <div id="saleamount">
                                     <label for='sales'>Sales Amount</label>
                                       <input ng-model="saleModel.amount">
                                   </div>
                                   <div id="setupfeeamount">
                                     <label for='sales'>Setup Fee Amount</label>
                                       <select ng-model="saleModel.setupfee">
                                         <option value="0">None</option>
                                         <option value="49.99">49.99</option>
                                         <option value="74.99">74.99</option>
                                         <option value="99.99">99.99</option>
                                         <option value="149.99">149.99</option>
                                       </select>
                                   </div>
                                   <div id="paymentplan">
                                     <label for='sales'>Payment Plan</label>
                                       <select ng-model="saleModel.plan">
                                         <option value="monthly">Monthly</option>
                                         <option value="quarterly">Quarterly</option>
                                         <option value="semi-annual">Semi-Annual</option>
                                         <option value="annual">Annual</option>
                                         <option value="annual">Flex-Billing</option>
                                       </select>
                                   </div>
                                   <br>
                                   <div id="services">
                                     <p>Services</p>
                                   </div>
                                   <div id="expireds">
                                     <label for="sales">Expireds
                                        <input type="checkbox" ng-model="saleModel.expireds"
                                        ng-true-value="1" ng-false-value="0">
                                     </label>
                                   </div>
                                   <div id="fsbos">
                                     <label for="sales">FSBOs
                                        <input type="checkbox" ng-model="saleModel.fsbos"
                                        ng-true-value="1" ng-false-value="0">
                                     </label>
                                   </div>
                                   <div id="pfcs">
                                     <label for="sales">Preforeclosures
                                        <input type="checkbox" ng-model="saleModel.pfcs"
                                        ng-true-value="1" ng-false-value="0">
                                     </label>
                                   </div>
                                   <div id="frbos">
                                     <label for="sales">FRBOs
                                        <input type="checkbox" ng-model="saleModel.frbos"
                                        ng-true-value="1" ng-false-value="0">
                                     </label>
                                   </div>
                                   <div id="onyx">
                                     <label for="sales">ONYX
                                        <input type="checkbox" ng-model="saleModel.onyx"
                                        ng-true-value="1" ng-false-value="0"
                                        >
                                     </label>
                                   </div>
                                   <div id="storm">
                                     <label for="sales">Storm
                                        <input type="checkbox" ng-model="saleModel.storm"
                                        ng-true-value="1" ng-false-value="0"
                                        >
                                     </label>
                                   </div>
                                   <div id="geos">
                                     <label for="sales">GeoLeads
                                        <input type="checkbox" ng-model="saleModel.geo"
                                        ng-true-value="1" ng-false-value="0"
                                        >
                                   </div>
                                  <div id="stormmultiline">
                                    <label for="sales">Storm Multiline
                                       <input type="checkbox" ng-model="saleModel.stormMulti"
                                       ng-true-value="1" ng-false-value="0"
                                       >
                                    </label>
                                  </div>
                                  <div class="form-group">
                                    <button class="btn btn-danger pull-right salesub" data-dismiss="modal" ng-disabled="!saleModel.name || !saleModel.amount || !saleModel.setupfee || !saleModel.plan" ng-click="submitSale()">Submit Sale</button>
                                  </div>


                               </form>
                               <!-- <pre>{{quotaModel | json}}</pre> -->
                           </div>
                       </div>
                   </div>
